In [1]:
import pandas as pd
import json,csv
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.orm import Session

In [2]:
hawaii_measurements = pd.read_csv('../SQLAlchemy/clean_Hawaii_measurements.csv')
del hawaii_measurements['Unnamed: 0']
hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [3]:
hawaii_stations = pd.read_csv('../SQLAlchemy/clean_Hawaii_stations.csv')
del hawaii_stations['Unnamed: 0']
hawaii_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
conn = engine.connect()

In [6]:
Base = declarative_base()

In [7]:
class Measurements(Base):
    __tablename__='measurements'
        
    id=Column(Integer,primary_key=True)
    station=Column(Text(255))
    date=Column(String(255))
    prcp=Column(Float)
    tobs=Column(Integer)
    
    def __repr__(self):
        return f"id={self.id}, station={self.station}"
    

class Stations(Base):
    __tablename__='stations'
        
    id=Column(Integer,primary_key=True)
    station=Column(Text(255))
    name=Column(Text(255))
    latitude=Column(Float)
    longitude=Column(Float)
    elevation=Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, station={self.station}"

In [8]:
Base.metadata.create_all(engine)

In [9]:
session = Session(bind=engine)

In [10]:
HImeasure=pd.DataFrame(hawaii_measurements)

In [11]:
measurements=HImeasure.to_dict(orient='records')

In [12]:
measurements[0]

{'date': '2010-01-01', 'prcp': 0.08, 'station': 'USC00519397', 'tobs': 65}

In [13]:
HIstations=pd.DataFrame(hawaii_stations)

In [14]:
stations=HIstations.to_dict(orient='records')

In [15]:
stations[0]

{'elevation': 3.0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [16]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [17]:
measurements_table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [18]:
conn.execute(measurements_table.delete())

In [22]:
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]

In [26]:
stations_table = sqlalchemy.Table('stations', metadata, autoload=True)

In [27]:
conn.execute(stations_table.delete())

In [33]:
conn.execute(stations_table.insert(),stations)

In [35]:
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]